{% extends 'back.html.twig' %}

{% block body %}
<div class="dashboard-container">


    {{ include('Asidebar.html.twig') }}


    <!-- Dashboard Content
    ================================================== -->
    <div class="dashboard-content-container" data-simplebar>
        <div class="dashboard-content-inner" >

            <!-- Dashboard Headline -->
            <div class="dashboard-headline">
                <h3>Parametre</h3>

                <!-- Breadcrumbs -->
                <nav id="breadcrumbs" class="dark">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Dashboard</a></li>
                        <li>Paramaetre</li>
                    </ul>
                </nav>
            </div>
        </div></div></div>
{% endblock %}
